# Entorno virtual
.venv/
venv/
env/

# Archivos de entorno
.env

# Archivos de caché de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Bases de datos y logs
*.sqlite3
*.log

# Archivos generados del sistema operativo
.DS_Store
Thumbs.db

# Archivos de configuración de IDE
.vscode/
.idea/