Ignorar directorios y archivos de entorno virtual,
.venv/
env/
venv/
.env

# Ignorar archivos de caché de Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Archivos de la base de datos y logs
*.sqlite3
*.log

# Archivos de distribución / empaquetado
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/

#FIN DEL GITINORE