<ul class="dropdown-menu dropdown-menu-end">
  <li>
    <a class="dropdown-item" href="{% url 'contacto' %}">
      <i class="fas fa-envelope me-2"></i> Contacto
    </a>
  </li>

  {% if user.is_authenticated %}

    {% if cliente_activo %}
      <li><hr class="dropdown-divider"></li>
      <li>
        <a class="dropdown-item fw-bold text-secondary" href="{% url 'users:perfil_usuario' %}">
          Mi perfil
        </a>
      </li>
      <li>
        <a class="dropdown-item fw-bold text-secondary" href="{% url 'clientes:seleccionar_cliente' %}">
          Seleccionar Cliente
        </a>
      </li> 
      <li>
        <a class="dropdown-item fw-bold text-secondary" href="{% url 'notificaciones:gestion_notificaciones' %}">
          Configurar notificaciones
        </a>
      </li>
      <li>
        <a class="dropdown-item fw-bold text-secondary"  href="{% url 'tauser:lista_terminales' %}">
          Terminales de Autoservicio
        </a>
      </li>         
    {% endif %} 
    
    {% else %}
    <li><hr class="dropdown-divider"></li>
    <li>
      <a class="dropdown-item" href="{% url 'login' %}">
        <i class="fas fa-sign-in-alt me-2"></i> Iniciar sesión
      </a>
    </li>
    <li>
      <a class="dropdown-item" href="{% url 'registro' %}">
        <i class="fas fa-user-plus me-2"></i> Registrarse
      </a>
    </li>
  {% endif %}
</ul>