{% extends "base.html" %}
{% load static %}

{% block content %}
  <h1 class="h3">Bienvenido a Global Exchange</h1>
  <p>Usa el menú superior para navegar.</p>
  <!--<div style ="text-align: center:"-->
  <img src="{% static 'images/Lobo_moto.jpg' %}" alt="Global Exchange" class="img-fluid mt-4" style="max-width: 700px;" >
    <!--img src="{% static 'images/Lobo_moto.jpg' %}" alt="Imagen centrada"-->
  <!--/div-->
  <p>Si la velocidad me quita la vida, no lloren <br>Iba sonriendo.</p>
{% endblock %}
